################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/DockerWeb2/obj
/DockerWeb2/bin/Debug/net5.0
/DockerWebAPI/obj
/DockerWebAPI/bin/Debug/net5.0
/.vs/DockerDemo
